In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import metrics
import os
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [2]:
os.chdir(r'C:\Users\Karan\OneDrive\Desktop\Testtt\Market Positioning of Mobile\Dataset')

In [3]:
df=pd.read_csv('Mobile_data.csv')

In [4]:
df.head()

,battery_power,clock_speed,fc,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,price_range
0,842,2.2,1,7,0.6,188,2,2,20,756,2549,9,7,19,1
1,1021,0.5,0,53,0.7,136,3,6,905,1988,2631,17,3,7,2
2,563,0.5,2,41,0.9,145,5,6,1263,1716,2603,11,2,9,2
3,615,2.5,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,2
4,1821,1.2,13,44,0.6,141,2,14,1208,1212,1411,8,2,15,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   clock_speed    2000 non-null   float64
 2   fc             2000 non-null   int64
 3   int_memory     2000 non-null   int64
 4   m_dep          2000 non-null   float64
 5   mobile_wt      2000 non-null   int64
 6   n_cores        2000 non-null   int64
 7   pc             2000 non-null   int64
 8   px_height      2000 non-null   int64
 9   px_width       2000 non-null   int64
 10  ram            2000 non-null   int64
 11  sc_h           2000 non-null   int64
 12  sc_w           2000 non-null   int64
 13  talk_time      2000 non-null   int64
 14  price_range    2000 non-null   int64
dtypes: float64(2), int64(13)
memory usage: 234.5 KB

In [6]:
df.describe(percentiles=[0.01,.02,0.03,.04,.05,.1,.25,.5,.75,.95,.96,.97,.98,.99]).T

,count,mean,std,min,1%,2%,3%,4%,5%,10%,25%,50%,75%,95%,96%,97%,98%,99%,max
battery_power,2000.0,1238.51850,439.418206,501.0,510.00,524.96,538.97,556.92,570.95,634.9,851.75,1226.0,1615.25,1930.15,1946.08,1961.06,1974.00,1987.00,1998.0
clock_speed,2000.0,1.52225,0.816004,0.5,0.50,0.50,0.50,0.50,0.50,0.5,0.70,1.5,2.20,2.80,2.90,2.90,2.90,3.00,3.0
fc,2000.0,4.30950,4.341444,0.0,0.00,0.00,0.00,0.00,0.00,0.0,1.00,3.0,7.00,13.00,14.00,15.00,16.00,16.00,19.0
int_memory,2000.0,32.04650,18.145715,2.0,2.00,2.00,3.00,4.00,5.00,7.9,16.00,32.0,48.00,61.00,62.00,63.00,63.00,64.00,64.0
m_dep,2000.0,0.50175,0.288416,0.1,0.10,0.10,0.10,0.10,0.10,0.1,0.20,0.5,0.80,1.00,1.00,1.00,1.00,1.00,1.0
mobile_wt,2000.0,140.24900,35.399655,80.0,80.00,82.00,83.00,84.00,86.00,91.0,109.00,141.0,170.00,196.00,197.00,198.00,199.00,199.00,200.0
n_cores,2000.0,4.52050,2.287837,1.0,1.00,1.00,1.00,1.00,1.00,1.0,3.00,4.0,7.00,8.00,8.00,8.00,8.00,8.00,8.0
pc,2000.0,9.91650,6.064315,0.0,0.00,0.00,0.00,0.00,0.00,1.0,5.00,10.0,15.00,20.00,20.00,20.00,20.00,20.00,20.0
px_height,2000.0,645.10800,443.780811,0.0,15.00,30.98,45.97,58.00,70.95,125.9,282.75,564.0,947.25,1485.05,1568.04,1618.03,1698.00,1791.01,1960.0
px_width,2000.0,1251.51550,432.199447,500.0,512.99,526.96,542.00,562.00,579.85,661.9,874.75,1247.0,1633.00,1929.05,1947.00,1963.00,1974.00,1987.00,1998.0
ram,2000.0,2124.21300,1084.732044,256.0,296.99,323.98,362.97,417.96,445.00,605.8,1207.50,2146.5,3064.50,3826.35,3864.04,3894.09,3922.06,3958.01,3998.0
sc_h,2000.0,12.30650,4.213245,5.0,5.00,5.00,5.00,5.00,6.00,6.0,9.00,12.0,16.00,19.00,19.00,19.00,19.00,19.00,19.0
sc_w,2000.0,5.76700,4.356398,0.0,0.00,0.00,0.00,0.00,0.00,1.0,2.00,5.0,9.00,14.00,15.00,15.00,16.00,17.00,18.0
talk_time,2000.0,11.01100,5.463955,2.0,2.00,2.00,2.00,2.00,3.00,4.0,6.00,11.0,16.00,20.00,20.00,20.00,20.00,20.00,20.0
price_range,2000.0,1.50000,1.118314,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.75,1.5,2.25,3.00,3.00,3.00,3.00,3.00,3.0

In [7]:
a=df[(df['fc']==0)&(df['pc']==0)]

In [8]:
a[(a['px_height']!=0)&(a['px_width']!=0)]

,battery_power,clock_speed,fc,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,price_range
7,1954,0.5,0,24,0.8,187,4,0,512,1149,700,16,3,5,0
33,1310,2.2,0,51,0.6,100,4,0,178,1919,3845,7,0,12,3
52,1654,1.5,0,43,0.3,109,2,0,546,629,3112,12,5,10,3
54,1073,0.5,0,51,0.5,145,7,0,690,804,2908,6,0,18,2
62,1156,1.2,0,50,0.8,159,2,0,322,547,470,7,0,15,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1906,1807,0.8,0,38,0.2,97,8,0,1332,1814,1069,7,6,7,1
1911,1259,1.2,0,13,0.5,97,2,0,1210,1989,340,17,13,4,0
1931,1854,0.9,0,33,0.4,195,1,0,665,718,1675,14,12,9,1
1968,1667,1.0,0,21,0.9,138,2,0,1211,1396,635,17,7,15,0
1993,1467,0.5,0,18,0.6,122,5,0,888,1099,3962,15,11,5,3

In [9]:
df[df['sc_w']!=0]['sc_w'].median()

6.0

In [10]:
df['sc_w'].median()

5.0

In [11]:
dd=df.copy()

In [12]:
# using the price range as a factor for the sc_w replacements

In [13]:
l=dd['price_range'].unique()
f=[0,0,0,0]
for i in l:
    a=dd[dd['price_range']==i]
    f[i]=a[a['sc_w']!=0]['sc_w'].median()
    print('PR :',i,' ',f[i])

PR : 1   5.0
PR : 2   5.0
PR : 3   6.0
PR : 0   6.0

In [14]:
f   # median of sc_w for the price ranges

[6.0, 5.0, 5.0, 6.0]

In [15]:
# Replacing the zeros from sc_w with resp. PR cate.
for i in [0,1,2,3]:
    dd['sc_w']=np.where(((dd['price_range']==i)&(dd['sc_w']==0)),int(f[i]),dd['sc_w'])

In [16]:
dd[dd['sc_w']==0]

Empty DataFrame
Columns: [battery_power, clock_speed, fc, int_memory, m_dep, mobile_wt, n_cores, pc, px_height, px_width, ram, sc_h, sc_w, talk_time, price_range]
Index: []

In [17]:
dd.head()

,battery_power,clock_speed,fc,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,price_range
0,842,2.2,1,7,0.6,188,2,2,20,756,2549,9,7,19,1
1,1021,0.5,0,53,0.7,136,3,6,905,1988,2631,17,3,7,2
2,563,0.5,2,41,0.9,145,5,6,1263,1716,2603,11,2,9,2
3,615,2.5,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,2
4,1821,1.2,13,44,0.6,141,2,14,1208,1212,1411,8,2,15,1

In [18]:
y=dd['price_range']
x=dd.drop(columns=['price_range'])

In [65]:
from sklearn.model_selection import train_test_split

In [67]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=.3,random_state=88)

In [69]:
knn=KNeighborsClassifier(n_neighbors=5)

In [70]:
knn.fit(train_x,train_y)

print(knn.score(train_x,train_y))
print(knn.score(test_x,test_y))

0.9521428571428572
0.9183333333333333

In [74]:
knn=KNeighborsClassifier(n_neighbors=13)
knn.fit(train_x,train_y)

print(knn.score(train_x,train_y))
print(knn.score(test_x,test_y))

0.95
0.9416666666666667

In [ ]:
def mygrid(kn,ver=True):
    
    k=[]
    train_acc=[]
    test_acc=[]
    for i in range(1,kn,2):
        knni=KNeighborsClassifier(n_neighbors=i)
        knni.fit(train_x,train_y)
        k.append(i)
        ktt=knni.score(train_x,train_y)
        kts=knni.score(test_x,test_y)
        train_acc.append(ktt)
        train_acc.append(kts)
        if ver:
            print(f"for k= {i} ; train score {round(ktt,3)} and test score {round(kts,3)}")
return k, train_acc, test_acc